body{
    margin: 0%;
    background-color: rgb(147, 218, 240);

}

img{
    position: relative;
    height: 50px;
    width: 50px;
    top: -25px; /* ajustar los valores para mover la imagen */
    left: -25px;
}

.flex{
    display: flex;
   
    justify-content: center;
    align-items: center;

}



.aboutUs{
    
    margin-left: 50px;
    margin-top: 30vh;
}




.grid{  
    height: 600px;
    width: 477px;
    background-image: url("../images/Mapa/mapabueno.png");
    display: grid; 
    grid-template-columns: repeat(477, 1fr);
    grid-template-rows: repeat(600, 1fr);

}

.boton{
    border-radius: 50%;
}
/**
.caseta{
    
    grid-area: 295/210/305/220;

}

*/
.bonita{
    
    grid-area: 213/167/223/177;
    
}


.candelaria{
    
    grid-area: 203/165/213/175;
}


.veta{
   
    grid-area: 183/157/193/167;
}

.tinizara{
    
    grid-area: 167/148/177/158;
}

.colorada{
    
    grid-area: 157/141/167/151;
}

.puntagorda{
   
    grid-area: 138/132/148/142;
}

.volcan{
   
    grid-area: 340/215/350/225;

}

