@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --primary-color: #5a9bfd; 
    --dark-color: #2366e0;
    --white-color: #ffffff;
    --light-color: #f1f2f6;
    --black-color: #010924;
}

* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0%;
    margin-bottom: 150px;
    background-color: rgb(192, 231, 255);
}

.pagina{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/Mapa/mapaOK_page-0001.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.return{
    height: 80px;
    margin-top: 30px;
    z-index: 10;
    position: fixed;
    left: 145px;
}

/*En el movil el grid de los puntos esta demasiado arriba al igual que el texto*/


.pings{
    position: relative;
    height: 210px;
    width: 105px;
    z-index: 10;
    left: 25px;
    top: 460px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

}

.pings a{
    text-decoration: none;
    color: #010924;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.text{
    height: 70px;
    width: 100px;
    position: relative;
    left: 300px;
    top: 390px;
    rotate: -5deg;
    
}
.text p{
    font-size: 9px;
    padding-left: 10px;
}

/*

.cueva-bonita{
    position: fixed;
    left: 65px;
    top: 900px;
}

.poris-candelaria{
    position: fixed;
    left: 120px;
    top: 780px;
}

.playa-veta{
    position: fixed;
    left: 100px;
    top: 730px;
}

.pozo-tinizara{
    position: fixed;
    left: 80px;
    top: 670px;
}

.cueva-colorada{
    position: fixed;
    left: 50px;
    top: 619px;
}

.poris-puntagorda{
    position: fixed;
    left: 10px;
    top: 530px;
}

.volcan{
    position: fixed;
    left: 250px;
    top: 1080px;
}
*/
ul{
    list-style: none;
}

.naveg{
    z-index: 100;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;


    position: fixed;
    bottom: 0;
    margin-bottom: 40px;


    font-family: 'Rubick', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--white-color);
    background-color: transparent;
    
}

nav{
    background-color: var(--primary-color);

    position: relative;
    width: 300px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 33px;
}

nav ul{
    display: flex;
    padding: 0;
    margin: 0;
}
nav :where(li, li a){
    position: relative;
}
/**/

nav li a {
    
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;

    width: 50px;
    height: 50px;
    margin: 0 ;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    z-index: 10;
    
}

nav > ul > li > a:hover{
    text-shadow: 3px 5px 15px;
}

nav ul li.active > a {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    transform: translateY(-5px);
    text-shadow: 3px 5px 15px;
}


nav li:nth-child(1).active ~ .last {
    transform: translateX(calc(70px * 0));
}
nav li:nth-child(2).active ~ .last {
    transform: translateX(calc(70px * 1));
}
nav li:nth-child(3).active ~ .last {
    transform: translateX(calc(70px * 2));
}
nav li:nth-child(4).active ~ .last {
    transform: translateX(calc(70px * 3));
}
nav li:nth-child(5).active ~ .last {
    transform: translateX(calc(70px * 4));
}


nav li.has-child.active > a{
    animation: jump 1s both;
    transition: transform .1s 1s, background-color .1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes jump {
    0% {transform: translateY(-40px);}
    20% {transform: translateY(-90px);}
    40% {transform: translateY(-90px);}
    60% {transform: translateY(-120px);}
    80% {transform: translateY(-150px) ;}
    90% {transform: translateY(-130px) ; background-color: var(--primary-color);}
    100% {transform: translateY(-110px) ; background-color: var(--dark-color);}
}

nav li.active > a > i{
    transform: scale(1);
    transition: transform .1s 1s;
}
nav li.has-child.active > a i{

    transform: scale(0);
} 

nav .sub-menu{
    position: absolute;
    background-color: var(--dark-color);
    left: -100%;
    top: -110px;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    z-index: 10;
    clip-path: inset(0 250px 0 round 100px);
}

nav ul li.has-child.active > .sub-menu{
    clip-path: inset(0 0 0 0);
    transition: clip-path .3s;
    transition-delay: 1s;
}

nav .sub-menu li a {
    color: var(--white-color);
    font-size: 25px;
    border-radius: 50%;
    margin: 0;
    clip-path: inset(10px round 20px);
    transition: background-color .3s, color .3s, clip-path .3s;
}

nav .sub-menu li a:hover {
    background-color: var(--primary-color);
}