@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --primary-color: #5a9bfd; 
    --dark-color: #2366e0;
    --white-color: #ffffff;
    --light-color: #f1f2f6;
    --black-color: #010924;
    --oscuro: rgb(31, 128, 255);
    --secundario: #94e6ff;
}

* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Rubick', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    min-height: 100vh;
    width: 100%;
    margin: 0%;
    background: linear-gradient(to top, rgb(210, 244, 255), rgb(70, 172, 255));
    /*overflow: hidden;*/
}

.error{
    visibility: hidden;
    text-align: center;
    position: fixed;
    left: 28%;
    top: 40%;
}

@media only screen and (min-width: 700px) {

    body{
        visibility: hidden;
        background: none;
    }
    .error{
        visibility: visible;
    }
}

.return{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    
    z-index: 10;
}

.return img{
    height: 80px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 20px;
}
/*
.return img:hover{
    box-shadow: 10px 10px 10px 10px rgb(7, 92, 204, 0.3);
}
*/
h1{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 25px;
}

.grupoA{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: -200;
    margin-bottom: 250px;
}
.delfin{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.calderon{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.zifio{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.orca{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.ballena{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.tortuga{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.pajaro{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.animal{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    background-color: rgba(52, 160, 255, 0.5);
    z-index: 1;
    margin: 30px;
    /* box-shadow: 0px 3px 18px 3px rgba(0, 45, 104, 0.8); no se cual es mejor de los dos tipos de sombra, por ahora pondre todas las sombras de la pagina iguales
    box-shadow: 10px 10px 10px 10px rgb(7, 92, 204, 0.3);*/
    box-shadow: 0px 3px 18px 3px rgba(0, 45, 104, 0.6);
}

#dmular{
    background-image: url("../images/Animales/mularSaltando.jpg");
    background-position-x: -125px;
    background-size: cover;
}
#dmoteado{
    background-image: url("../images/Animales/moteado2.JPG");
    background-position-x: -30px;
    background-size: cover;
}
#drugoso{
    background-image: url("../images/Animales/rugoso.JPG");
    background-position-x: -50px;
    background-size: cover;
}
#dcomun{
    background-image: url("../images/Animales/comunSaltando.jpg");
    background-position-x: 0px;
    background-size: cover;
}
#dlistado{
    background-image: url("../images/Animales/listado1.jpg");
    background-position-x: -70px;
    background-size: cover;
}
#ctropical{
    background-image: url("../images/Animales/cabeza\ calderon.jpg");
    background-position-x: -70px;
    background-size: cover;
}

.encabezado{
    height: 80px;
    position: relative;
    padding: 30px 30px 40px;
    
}

.animal .encabezado h3{
    font-size: 30px;
    margin-right: 200px;
}

.explicacion{
    position: fixed;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.5);*/
    z-index: 200;
    visibility: hidden;
}
.explicacion .ri-close-line{
    height: 50px;
    width: 50px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
}

.fondo{
    
    overflow-y: auto;
    height: 100%;
    width: 98%;
    background-color: #000000e1;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 20px;
    
}
.fondo h2{
    color: #ffffff;
    font-size: 20px;
}
.fondo img{
    width: 95%;
    border-radius: 15px;
    
}
.fondo h3{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.fondo h4{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}
.fondo p{
    color: #ffffff;
    font-size: 14px;
    margin: 25px;
    text-align: justify;
}
.fondo blockquote{
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    margin: 10px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta{
    text-decoration: none;
    font-size: 50px;
    color: #ffffff;
    margin: 25px;
}
.libro{
    text-decoration: none;
    font-size: 50px;
    color: #ffffff;
    margin: 25px;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

ul{
    list-style: none;
}

.naveg{
    z-index: 100;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;


    position: fixed;
    bottom: 0;
    margin-bottom: 30px;


    font-family: 'Rubick', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--white-color);
    background-color: transparent;
    
}

nav{
    background-color: var(--primary-color);

    position: relative;
    width: 300px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 33px;
}

nav ul{
    display: flex;
    padding: 0;
    margin: 0;
}
nav :where(li, li a){
    position: relative;
}


nav li a {
    
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;

    width: 50px;
    height: 50px;
    margin: 0 ;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    z-index: 10;
    
}

nav > ul > li > a:hover{
    text-shadow: 3px 5px 15px;
}

nav ul li.active > a {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    transform: translateY(-5px);
    text-shadow: 3px 5px 15px;
}


nav li:nth-child(1).active ~ .last {
    transform: translateX(calc(70px * 0));
}
nav li:nth-child(2).active ~ .last {
    transform: translateX(calc(70px * 1));
}
nav li:nth-child(3).active ~ .last {
    transform: translateX(calc(70px * 2));
}
nav li:nth-child(4).active ~ .last {
    transform: translateX(calc(70px * 3));
}
nav li:nth-child(5).active ~ .last {
    transform: translateX(calc(70px * 4));
}


nav li.has-child.active > a{
    animation: jump 1s both;
    transition: transform .1s 1s, background-color .1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes jump {
    0% {transform: translateY(-40px);}
    20% {transform: translateY(-90px);}
    40% {transform: translateY(-90px);}
    60% {transform: translateY(-120px);}
    80% {transform: translateY(-150px) ;}
    90% {transform: translateY(-130px) ; background-color: var(--primary-color);}
    100% {transform: translateY(-110px) ; background-color: var(--dark-color);}
}

nav li.active > a > i{
    transform: scale(1);
    transition: transform .1s 1s;
}
nav li.has-child.active > a i{

    transform: scale(0);
} 

nav .sub-menu{
    position: absolute;
    background-color: var(--dark-color);
    left: -100%;
    top: -110px;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    z-index: 10;
    clip-path: inset(0 250px 0 round 100px);
}

nav ul li.has-child.active > .sub-menu{
    clip-path: inset(0 0 0 0);
    transition: clip-path .3s;
    transition-delay: 1s;
}

nav .sub-menu li a {
    color: var(--white-color);
    font-size: 25px;
    border-radius: 50%;
    margin: 0;
    clip-path: inset(10px round 20px);
    transition: background-color .3s, color .3s, clip-path .3s;
}

nav .sub-menu li a:hover {
    background-color: var(--primary-color);
}
