@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --primary-color: #5a9bfd; 
    --dark-color: #2366e0;
    --white-color: #ffffff;
    --light-color: #f1f2f6;
    --black-color: #010924;
    --oscuro: rgb(31, 128, 255);
    --secundario: #94e6ff;
}




* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubick', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    min-height: 100vh;
    width: 100%;
    margin: 0%;
    background-image: url("../images/Animales/FotoInicioMoteado.jpg");
    background-position: bottom 0px right -250px;  /**/
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;  /*Resize the background image to cover the entire container */
    /*
    background: linear-gradient(to top, rgb(210, 244, 255), rgb(70, 172, 255));
    */
}

.error{
    visibility: hidden;
    text-align: center;
    position: fixed;
    left: 28%;
    top: 40%;
}

@media only screen and (min-width: 700px) {

    body{
        visibility: hidden;
        background: none;
    }
    .error{
        visibility: visible;
    }
}

.return{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    
    z-index: 10;
}

.return img{
    height: 80px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 20px;
}


.contenido{
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenido a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    text-decoration: none;
    background-color: #367af842;
    color: #94e6ff;
    border-radius: 30%;
    margin-top: 15px;
    box-shadow: 0px 3px 18px 3px rgba(0, 45, 104, 0.6);
    
}

.contenido a i{
    font-size: 27px;
}   
.contenido a img{
    height: 30px;
}

.switch{
    font-size: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 2px rgb(14, 112, 224);
}

.ri-arrow-down-s-line{
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
}
.ri-arrow-up-s-line{
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;

}