body{

    margin: 0%;
    background-image: url("../fotos/Mapa/mapa-sin-background.png"),url("../fotos/Mapa/mar1.avif");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-color: rgba(11, 57, 182, 0.849);

}
